h1 {
    text-align: center;
    color: #ff6060;
    font-size: 20vw;
    font-family: "Montserrat";
}

h2 {
    text-align: center;
    color: #ff6060;
    font-size: 34px;
    font-family: "Montserrat";
}

main p {
    color: black;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 500;
}

.return-link {
    text-align: center;
    margin: 10vh auto;
}